<div class="container-field">
    <div class="mypage-wrapper">
        <%= render "shared/header"%>
           <div class="task-box">
              <div class="task-header">
                  <div class="task-title">
                    <%= @user.name + "のタスク一覧" %>
                  </div>
                  <div class="task-add">
                    <%= link_to "タスクを追加する", new_task_path, class: "btn btn-success add-btn" %>
                  </div>
                  <div class="task-lists">
                    <% if @task.present? %>
                        <% @task.each do |task| %>
                          <div class="task">
                            <%= link_to task.name, task_completions_path(task.id), class:"btn btn-info list-btn" %>
                          </div>
                        <% end %>
                    <% else %>
                        <div class="list-none">タスクがありません</div>
                    <% end %>
                    <%= paginate @task %>
                  </div>
              </div>
           </div>
        <%= render "shared/footer"%>
    </div>
</div>