<div class="container-field">
    <div class="mypage-wrapper">
           <div class="task-box">
              <div class="task-header">
                  <div class="task-title">
                    <%= @user.name + "のタスク" %>
                  </div>
                  <div class="task-add">
                    <%= link_to "タスクを追加する", new_task_path, class: "btn btn-success add-btn" %>
                  </div>
                  <div class="task-lists">
                      <% if @task.present? %>
                        <% @task.each do |task| %>
                            <%= link_to task_completions_path(task.id), class: 'task-link' do %>
                                <div class="task-user-icon">
                                    <% if @user.image? %>
                                        <%= image_tag task.user.image.thumb50.url, class:"icon" %>
                                    <% else %>
                                        <i class="fas fa-user-circle sample-icon"></i>
                                    <% end %>
                                </div>
                                <div class="task-user-name">
                                    <%= task.user.name %>
                                </div>
                                <div class="task-name">
                                    <%= task.name %>
                                </div>
                                <div class="task-goal">
                                    <%= task.goal %>
                                </div>
                                <div class="favorite list-favorite">
                                    <% if task.favorites.count > 0 %>
                                        <p class="favorited-btn"><span><i class="fas fa-heart"></i></span>
                                        <%= task.favorites.count %></p>
                                    <% else %>
                                        <p class="favorite-btn"><span><i class="fas fa-heart"></i></span>
                                        <%= task.favorites.count %></p>
                                    <% end %>
                                </div>
                            <% end %>
                        <% end %>
                    <% else %>
                        <div class="list-none">タスクがありません</div>
                    <% end %>
                    <%= paginate @task %>
                  </div>
              </div>
           </div>
    </div>
</div>