<%= render "shared/header"%>
<div class="post-wrapper">
    <div class="container">
        <div class="mypage-wrapper">
            <div class="task-post-box">
                  <div class="new-task-title"><i class="fas fa-pencil-alt task-post-logo"></i>タスクの新規作成</div>

                <div class="task-post-form">
                  <%= form_with model: @task, class:"task-form", local: true do |f|%>
                        <%= render 'shared/error_messages', model: f.object %>
                        <div class="field">
                          <div class="label-name"><%= f.label :name, "タスク名" %></div>
                          <%= f.text_field :name, class:"form" %>
                        </div>
                        <div class="field">
                          <div class="label-name"><%= f.label :goal, "目標" %></div>
                          <%= f.text_area :goal, class:"form" %>
                        </div>
                        <div class="task-post-btn">
                          <%= f.submit "作成する", class: "btn btn-primary" %>
                        </div>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>