<header class="top-header">
  <div class="header-left">
    <div class="header-text">
      <%= link_to 'dekita!', root_path %>
    </div>
  </div>
  <div class="header-right">
    <% if user_signed_in? %>
    <div class="header-tasks">
      <%= link_to "自分のタスク", tasks_path %>
    </div>
    <div class="header-task-lists">
      <%= link_to "みんなのタスク", lists_path %>
    </div>
    <div class="header-user-information">
      <%= link_to "ユーザー情報", user_path(current_user.id) %>
    </div>
    <div class="header-sign-out">
      <%= link_to "ログアウト", destroy_user_session_path, method: :DELETE %>
    </div>
    <% else %>
    <div class="header-sign-in">
      <%= link_to 'ログイン', new_user_session_path %>
    </div>
    <div class="header-sign-up">
      <%= link_to '新規登録', new_user_registration_path %>
    </div>
    <% end %>
  </div>
</header>