<%= render "shared/top-header"%>
<div class="devise-wrapper">
    <div class="container">
        <div class="sign-in-box">
            <div class="sign-in-title"><i class="fas fa-sign-in-alt popup-login-logo"></i>ログイン</div>

            <div class="sign-in-form">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                    <div class="label-name"><%= f.label :email, "メールアドレス" %></div>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form" %>
                </div>

                <div class="field">
                    <div class="label-name"><%= f.label :password, "パスワード" %></div>
                    <%= f.password_field :password, autocomplete: "current-password", class:"form" %>
                </div>

                <div class="actions sign-in-btn">
                    <%= f.submit "ログイン", class:"btn btn-primary" %>
                </div>
                <% end %>
                <div class="guest-login">
                    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-info", method: :post %>
                </div>
            </div>
        </div>
    </div>
</div>