<%= render "shared/header"%>
<div class="post-wrapper">
    <div class="container">
  <div class="mypage-wrapper">
    <div class="completion-edit-box">
      <div class="edit-completion-title">dekita!の編集</div>

      <div class="task-post-form">
      <%= form_with model: [@task, @completion_tag_thank], class:"completions-form", local: true do |f|%>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="field">
        <div class="label-name"><%= f.label :summary, "取り組んだこと" %></div>
        <%= f.text_field :summary, class:"form" %>
      </div>

      <div class="field">
        <div class="label-name"><%= f.label :name, "タグ" %></div>
        <%= f.text_field :name, class:"form" %>
      </div>

      <div class="field">
        <div class="label-name"><%= f.label :human, "支えになった人" %></div>
        <%= f.text_field :human, class:"form" %>
      </div>

      <div class="field">
        <div class="label-name"><%= f.label :memo, "メモ" %></div>
        <%= f.text_area :memo, class:"form" %>
      </div>

      <div class="field">
        <div class="label-name"><%= f.label :working_day, "日付" %></div>
        <%= f.date_field :working_day, class:"form" %>
      </div>

      <div class="field">
        <div class="label-name"><%= f.label :start_time, "開始時刻", class:"start_time" %></div>
        <%= f.time_field :start_time, class:"form" %>

      </div>
      <div class="field">
        <div class="label-name"><%= f.label :ending_time, "終了時刻", class:"ending_time"%></div>
        <%= f.time_field :ending_time, class:"form" %>
      </div>


      <div class="task-post-btn">
        <%= f.submit "更新する", class: "btn btn-primary"  %>
      </div>
      <% end %>
      </div>
    </div>
    </div>
  </div>
</div>