<%= render "shared/header"%>
<div class="container-field">
    <div class="mypage-wrapper">
        <div class="completion-box">
            <div class="completion-title">
                <%= @task.name %>
            </div>
            <div class="completion-memo">
                <%= @task.goal %>
            </div>
            <div id="working_time">
                作業時間：
            </div>
            <div id="favorites_buttons_<%= @task.id %>" class="favorite">
                <%= render partial: 'favorites/favorite', locals: { task: @task} %>
            </div>
            <div class="task-user">
                <p>
                    作成者：<% if @task.user.image? %>
                    <%= link_to user_path(@task.user.id), class:"user-link" do %>
                    <%= image_tag @task.user.image.thumb50.url, class:"icon" %>
                    <%= @task.user.name %>
                    <% end %>
                    <% else %>
                    <%= link_to user_path(@task.user.id), class:"user-link" do %>
                    <i class="fas fa-user-circle sample-icon"></i>
                    <%= @task.user.name %>
                    <% end %>
                    <% end %>
                    <% if @task.user.id == current_user.id %>
                        <%= link_to edit_task_path(@task.id), class:"task-edit" do %> <i class="fas fa-edit"></i> <% end %>
                        <%= link_to task_path(@task.id), method: :delete, class:"task-delete" do %> <i class="far fa-trash-alt"></i> <% end %>
                    <% end %>
                </p>
            </div>
            <% if @task.user.id == current_user.id %>
                <div class="content-add">
                    <%= link_to "dekita!を追加する", new_task_completion_path(@task.id), class: "btn btn-success add-btn" %>
                </div>
            <% end %>
            <div class="contents-list">
                <% if @completions.present? %>
                <% working_day = "" %>
                <% @completions.each do |completion| %>
                <% if working_day != completion.working_day %>
                <div class="working-day"><%= completion.working_day %></div>
                <div class="content">
                    <p>取り組んだこと: <%= completion.summary %></p>
                    <p>タグ: <% completion.tags.each do |tag| %><%= tag.name + " " %><% end %></p>
                    <p>支えになった人: <% completion.thanks.each do |thank| %><%= thank.human + " " %><% end %></p>
                    <%if completion.memo.present? %>
                    <p> メモ: <%= completion.memo %></p>
                    <% end %>
                    <p>開始時間: <%= completion.start_time.strftime('%H:%M') %></p>
                    <p>終了時間: <%= completion.ending_time.strftime('%H:%M') %></p>
                    <% if (completion.ending_time - completion.start_time)/60 < 0 %>
                    <% working_time = ((completion.ending_time - completion.start_time)/60) + 1440 %>
                    <% else %>
                    <% working_time = ((completion.ending_time - completion.start_time)/60) %>
                    <% end %>
                    <p>作業時間: <span class="working_time_count"><%= working_time.to_i %></span>分
                        <% if completion.user.id == current_user.id %>
                            <%= link_to task_completion_path(@task.id, completion.id), method: :delete, class:"completion-delete" do %>
                            <i class="far fa-trash-alt"></i> <% end %>
                            <%= link_to edit_task_completion_path(@task.id, completion.id), class:"completion-edit" do %> <i
                                class="fas fa-edit"></i> <% end %>
                        <% end %>
                    </p>
                </div>
                <% working_day = completion.working_day %>
                <% else %>
                <div class="content">
                    <p>取り組んだこと: <%= completion.summary %></p>
                    <p>タグ: <% completion.tags.each do |tag| %><%= tag.name + " " %><% end %></p>
                    <p>支えになった人: <% completion.thanks.each do |thank| %><%= thank.human + " " %><% end %></p>
                    <%if completion.memo.present? %>
                    <p> メモ: <%= completion.memo %></p>
                    <% end %>
                    <p>開始時間: <%= completion.start_time.strftime('%H:%M') %></p>
                    <p>終了時間: <%= completion.ending_time.strftime('%H:%M') %></p>
                    <% if (completion.ending_time - completion.start_time)/60 < 0 %>
                    <% working_time = ((completion.ending_time - completion.start_time)/60) + 1440 %>
                    <% else %>
                    <% working_time = ((completion.ending_time - completion.start_time)/60) %>
                    <% end %>
                    <p>作業時間: <span class="working_time_count"><%= working_time.to_i %></span>分
                        <%= link_to task_completion_path(@task.id, completion.id), method: :delete, class:"completion-delete" do %>
                        <i class="far fa-trash-alt"></i> <% end %>
                        <%= link_to edit_task_completion_path(@task.id, completion.id), class:"completion-edit" do %> <i
                            class="fas fa-edit"></i> <% end %>
                    </p>
                </div>
                <% end %>
                <% end %>
                <% else %>
                <div class="list-none">dekita!がありません</div>
                <% end %>
                <%= paginate @completions %>
            </div>
        </div>
        <% unless @tag_count.empty? && @thank_count.empty? %>
        <div class="completion-charts">
            <p>タグ</p>
            <%= pie_chart @tag_count,width: '200px',height: '300px' %>
            <p>支えになった人</p>
            <%= pie_chart @thank_count,width: '200px',height: '300px' %>
        </div>
        <% end %>
    </div>
</div>