<div class="container-field">
  <div class="mypage-wrapper">
    <div class="completion-post-box">
      <%= form_with model: [@task, @completion_tag_thank], class:"completions-form", local: true do |f|%>

      <div class="new-completion-title">dekita!の新規作成</div>
      <%= "タスク: " + @task.name %>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="field">
        <%= f.label :summary, "取り組んだこと" %><br />
        <%= f.text_field :summary, class:"form-control"  %>
      </div>

      <div class="field">
        <%= f.label :name, "タグ" %><br />
        <%= f.text_field :name, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :human, "支えになった人" %><br />
        <%= f.text_field :human, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :memo, "メモ" %><br />
        <%= f.text_area :memo, class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :working_day, "日付" %><br />
        <%= f.date_field :working_day, class: "form_text form-control" %>
      </div>

      <div class="field">
        <%= f.label :start_time, "開始時刻", class:"start_time" %><br />
        <%= f.time_field :start_time, class: "form_text form-control" %>

      </div>
      <div class="field">
        <%= f.label :ending_time, "終了時刻", class:"ending_time"%><br />
        <%= f.time_field :ending_time, class: "form_text form-control" %>
      </div>


      <div class="actions  form_btn">
        <%= f.submit "作成する", class: "btn btn-primary"  %>
      </div>
      <% end %>
    </div>
  </div>
</div>